body {
  block-size: auto;
  text-align: center;
}

.book {
  width: 70%;
  height: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

.page {
  display: flex;
  flex-direction: row;
  border-style: solid;
  width: 50%;
}

#storyText{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}

.storyOptions {
  margin-top: 15px;
  margin-left: auto;
  margin-right:  auto;
  width: 80%;
  height: 50px;
  text-align: center;
  border-radius: 8px;

}

#picturePage{
  border-style: solid;
  height: 50%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
.column{
  display: flex;
  flex-direction: column;
}

.fill{
  width: 100%;
}

#characterInfo{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
}

#characterPicture{
  border-style: solid;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  width: 30%;
}

#characterFlavor{
  display: flex;
  border-style: solid;
  margin-top: 0;
  margin-bottom: 0;
  width: 70%;
  padding: 8px;
}

#inventoryGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.item{
  border-style: solid;
  height: 60px
}

#inventoryHeader {
  margin-bottom: 5px;
}