@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body {
  block-size: auto;
  text-align: center;
  background-image: linear-gradient(45deg, #0b132b, #1C2541 , #3A506B, #56CFE1, #5BC0BE);
  background-repeat: no-repeat;
  height: 100vh;
  font-family:'Lucida Grande';
}

/* Header styling */

#Header {
  border-bottom: solid;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #246A73;
}

#HeaderTitle{
  float:left;
  font-size: 30px;
  padding: 10px;
  margin-top: auto;
  margin-left: 8px;
  color: #F3DFC1;
  text-shadow: -1px 1px 2px #000,
				      1px 1px 2px #000,
				      1px -1px 0 #000,
				      -1px -1px 0 #000;
}

.HeaderButtons{
  float: right;
  border: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-bottom: 0;
  height: 100%;
  width: 100px;
  margin-left: 5px;
  background-color: #160F29;
}

.linkstyles {
  text-decoration: none;
  color: rgb(244, 239, 239);
  font-size: large;
}

/* Start Page */

.initialcontainers{
  border-style: solid;
  border-color: #160F29;
  border-radius: 10px;
  width: 800px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: #368F8B;
}

/* Character Select Screen */
#characterGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 15px;
}

hr{
  border-width: 2px;
  border-color: #DDBEA8;
  width: 80%;
}

#selectTitle{
  font-size: 30px;
}

.gridCharacter{
  margin-bottom: 10px;
}

.characterSelect{
  width: 150px;
  height: 150px;
  margin: 10px;
}

.selected {
  border-style: solid;
  border-color: #160F29;
  border-radius: 20px;
  background-color: #DDBEA8;
}

/* Item Select and Item Cards */
.inventorySelectDiv{
  display: flex;
}

.itemCard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style: solid;
  height: 180px;
  border-color: black;
  font-size: large;
}

.itemText{
  text-align: center;
  padding: 1px;
  margin-top: 3px;
}



.itemImg {
  width: 160px;
  height: 120px;
  flex-direction: column;
}

/* Rarity coloring */
.Generic{
  background-color:rgb(245, 233, 233);
}

.Character{
  background-color: rgb(223, 121, 232);
  /* border-color:rgb(91, 20, 157); */
  /* color: white; */
}

.Common{
  background-color: rgb(83, 210, 242);
  /* border-color: rgb(9, 9, 159); */
  /* color: white */
}

.Story{
  background-color: rgb(67, 208, 114);
  /* border-color: rgb(5, 53, 17); */
  /* color: white; */
}

/* Book styling */

.book {
  width: 70%;
  height: 800px;
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}


.page {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 5px;
  border-color: #160F29;
  width: 50%;
  min-width: 500px;
  /* background-image: repeating-linear-gradient(36deg, rgb(242, 236, 121), rgb(246, 231, 101) 1px, transparent 0px, transparent 2px); */
  background-image: url("../src/Assets/img/page.jpg");
}

/* Page animation */

@keyframes fadeInAnimation{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.fadeIn{
  animation: fadeInAnimation 1000ms;
}



#storyText{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: large;
}

.storyOptions {
  margin-top: 20px;
  margin-left: auto;
  width: 80%;
  height: 80px;
  text-align: center;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  transition: border-width 250ms;
}

.storyOptions:hover{
  border-width: 5px;
}


#picturePage{
  border-style: solid;
  border-radius: 5px;
  height: 45%;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

}
.column{
  display: flex;
  flex-direction: column;
}

.fill{
  width: 100%;
}

#characterInfo{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
}

#characterPictureDiv{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  width: 30%;
}

#characterPicture{
  border-style: solid;
  border-radius: 5px;
}

#characterFlavor{
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  display: flex;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  padding: 10px;
  background-color: #DDBEA8;
}

#inventoryGrid{
  border-style: solid;
  border-right: 0;
  border-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  margin-bottom: 25px;  
  margin-top: 0;
}

.grid-item{
  height: 90px;
  border-top: 0;
  border-left: 0;
  border-style: solid;
}


#inventoryHeader {
  border-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #DDBEA8;
  border-bottom: 0;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 5px;
}

.empty{
  background-color: rgb(245, 233, 233);
  border-style: solid;
}

.inventoryImg {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

/* Game button */

.gameButton {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #160F29;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 50px;
  margin-bottom: 20px;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #246A73;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gameButton:hover .transition {
  width: 14em;
  height: 14em;
}

.gameButton:active {
  transform: scale(0.97);
}