body {
  block-size: auto;
  text-align: center;
}

.book {
  width: 70%;
  height: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

.page {
  display: flex;
  flex-direction: row;
  border-style: solid;
  width: 50%;
}

#storyText{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}

.storyOptions {
  margin-top: 15px;
  margin-left: auto;
  margin-right:  auto;
  width: 80%;
  height: 50px;
  text-align: center;
  border-radius: 8px;

}

.column{
  display: flex;
  flex-direction: column;
}